<template>
	<div style="display:flex">
		<div v-for="index in numberOfPairs" :key="index" style="padding:8px;">
		<input  :placeholder="index"/>
		<br/>
		<input :placeholder="index" />
	</div>
	</div>
	<button style="background-color: red; padding:8px; border-radius:8px" @click="numberOfPairs++"> Add pair</button>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: null,
		},
	},
	emits: ['input'],
	setup(props, { emit }) {
		return { handleChange };

		function handleChange(value) {
			emit('input', value);
		}
	},
	data() {
		return {numberOfPairs: 1}
	},
};
</script>
